/* navbar */

#search {
  width: 400px;
}

/* main video area */



.mainVideoImage {
  height: 400px;
  width: 600px;
}

.mainVideoTitle {
  width: 600px;
}

#content button {
  margin-bottom: 15px;
}

.bigThumb {
  content: "";
  position: absolute;
  top: 33%;
  left: 225px;
  width: 150px;
  height: 150px;
  z-index: 100;
  opacity: 0.75;
  background-image: url("http://www.plowsharecenter.org/img/y.png");
  background-size: contain;
  background-repeat: no-repeat;
  
}
.bigThumb:hover {
  opacity: 1;
}

.description {
  padding-top: 10px;
  width: 600px;
  margin-bottom: 75px;
}

.votes {
  text-align: center;
}
.glyphicon-thumbs-up, .glyphicon-thumbs-down {
  font-size: 24px;
}

.glyphicon-thumbs-up {
  margin-left: 25px;
  margin-right: 10px;
}

.glyphicon-thumbs-down {
  margin-right: 25px;
}

.glyphicon-thumbs-up:hover, .glyphicon-thumbs-down:hover {
  color: blue;
  cursor: pointer;
  font-size: 24px;
}

/* Comment area */

.commentArea {
  height: 30%;
  width: 600px;
  margin-top: 20px;
  border: 1px solid black;
  overflow: scroll;
}

.commentArea h4 {
  text-align: center;
}

.comment {
  height: 30%;
  width: 90%;
  border: 1px solid purple;
  margin: 10px auto;
  overflow: scroll;
  padding: 15px;
}


/*  Right Side Bar */

.ad {
  border: 1px solid green;
  /*height: 30%;*/
  width: 100%;
  margin-bottom: 5%;
  /*text-align: center;*/
  /*padding-top: 20%; */
}

.videoContainer {
  border: 1px solid black;
  height: 16%;
  width: 100%;
  margin-bottom: 2%;
}

.videoContainer div {
  float: left;
  height: 90%;
  margin-top: 15px;
  margin-left: 5px;
}


.titleContainer {
  width: 60%;
}

.titleContainer h5 {
  margin-left: 30%;
}


.videoIframe {
  border: 1px solid blue;
  height: 90%;
  width: 80%;  
}

.holder {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.video-img {
  width: 30%
}
.video-vote {
  width: 15%;
}
.video-title {
  width: 40%;
}