<html x-ng-app="ibcApp">
  <head>
    <title></title>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
    <script src="http://code.angularjs.org/1.2.0-rc.2/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-cookies.js"></script>
    <script src="http://rawgithub.com/kirstein/angular-disqus/master/angular-disqus.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body x-ng-controller="ibcCtrl">
    
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#!">Ice Bucket Blast</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search For Videos" ng-model="searchBy" id="search" ng-keyup="querySearch();">
            </div>
            <a type="submit" class="btn btn-default" ng-if="route.id" ng-href="#!/featured">Submit</a>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!-- Load Partials -->
    <div  class="container" ng-init="searchBy='';querySearch();">

      <div class="col-md-7" id="content" data-ng-view>
    </div> 
<!-- End Load Partials -->

      <div class="col-md-5"> 
        <div class="ad">
          <img ng-src="http://placekitten.com/359/200">
        </div>
        <div class="holder">
          <h3>Top Ranked Videos</h3>
          <div x-ng-repeat="video in topVids | orderBy:'popularity':true" class="videoContainer">
            <div><img width="130" ng-src="http://img.youtube.com/vi/{{video.yt_id}}/mqdefault.jpg"></div>
            <div class="titleContainer">
              <div class="video-vote">
                <span class="glyphicon glyphicon-chevron-up" ng-click="video.vote='up';update(video)"></span><br/>
                  {{video.popularity}} <br/>
                <span class="glyphicon glyphicon-chevron-down" ng-click="video.vote='down';update(video)"></span>  
              </div>
              <h5><a ng-href="{{ '#!/v/' + video.yt_id}}">{{video.title|truncate:49}}</a></h5>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </body>
</html>