<html x-ng-app="ibcApp">
  <head>
    <title></title>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>    
    <script type="text/javascript" src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body x-ng-controller="ibcCtrl">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ice Bucket Challenge Tube</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="searchBy" id="search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div  class="container"> 
      <div class="col-md-7">
        <div class="mainVideoContainer">
          <div><iframe ng-src="{{trustSrc(videos[0].url)}}" frameborder="0" allowfullscreen class="mainVideoIframe"></iframe></div>
            <div><h4>{{videos[0].title}}</h4></div> 
        </div>
        <div class="commentArea">
          <h4>Comments</h4>
          <hr>
          <div class="comment" ng-repeat="comment in videos[0].comments">
            {{comment.name}} - {{comment.text}}
          </div>
        </div>
      </div>
      <div class="col-md-5"> 
        <div class="ad">Ad's go here</div>
        <div class="holder">
          <div x-ng-repeat="video in videos | orderBy:'popularity':true | filter:searchBy" class="videoContainer">
            <div><iframe ng-src="{{trustSrc(video.url)}}" frameborder="0" allowfullscreen class="videoIframe"></iframe></div>
            <div><h4>{{video.title}} - {{video.popularity}}</h4></div> 
          </div>
        </div>
      </div>
    </div>
  </body>
</html>